@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Para utilizar o sistema e adicionar a 1a pessoa, clicar neste <a href="~/Identity/Account/FirstUserAdd">Link</a></p>
    <p>Para cadastrar como Administrador, utilizar o nome "Administrador" para a Role</p>
    <p>Qualquer cadastro feito através da Pagina Register será considerado como usuário "Funcionario"</p>
</div>
